In [46]:
import requests
import pandas as pd

In [47]:
response=requests.get('https://api.themoviedb.org/3/trending/all/day?api_key=52ed60fb08972d94fb7f6de2d2c9aefd')

In [48]:
data=response.json()

In [49]:
df= pd.DataFrame()

In [50]:
df

Empty DataFrame
Columns: []
Index: []

In [51]:
for i in range(1,100):
    reponse=requests.get('https://api.themoviedb.org/3/trending/all/day?api_key=52ed60fb08972d94fb7f6de2d2c9aefd')
    temp_df= pd.DataFrame(response.json()['results'])[['id', 'title', 'popularity', 'overview', 'popularity', 'vote_average', 'vote_count']]
    df = pd.concat([df, temp_df], ignore_index=True)

In [52]:
df.to_csv("movies.csv")

In [53]:
df.shape

(1881, 7)